<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://mobilefriendlywebapps.co.uk/ns/1.0"
id = "co.uk.mobilefriendlywebapps"
version = "1.0.0">

<name>Taylor Beauty</name>

<description>
Template starting app
</description>

<author href="http://kardmagic.github.com"
email="">
KardMagic
</author>

<icon src="icon.png" gap:role="default" />

<feature name="http://mobilefriendlywebapps.co.uk"/>
<feature name="http://mobilefriendlywebapps.co.uk"/>

<preference name="orientation" value="portrait" />
</widget>


